---
name: Lint

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions: {}

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      # contents permission to clone the repository
      contents: read
      packages: read
      # To issues and pull-requests permissions to write results as pull
      # request comments. Omit them if you don't need summary comments
      issues: write
      pull-requests: write
      # To report GitHub Actions status checks. Omit if you don't need
      # to update commit status
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          persist-credentials: false

      - name: Super-linter
        uses: super-linter/super-linter@v8.3.2 # x-release-please-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # 1. Matikan pengecekan yang terlalu ribet/duplikat
          VALIDATE_JSCPD: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          
          # 2. Pilih salah satu saja: Prettier atau Standard Linter?
          # Saya sarankan Prettier saja untuk kerapihan (biar gak cerewet soal titik koma)
          VALIDATE_CSS: false
          VALIDATE_CSS_PRETTIER: true
          VALIDATE_HTML: false
          VALIDATE_HTML_PRETTIER: true
          VALIDATE_JAVASCRIPT_ES: false
          VALIDATE_JAVASCRIPT_PRETTIER: true
          
          # 3. Tetap nyalakan yang penting untuk keamanan
          VALIDATE_GITLEAKS: true
          VALIDATE_TRIVY: true
